In [3]:
import numpy as np
arr = np.arange(21,30)
arr

array([21, 22, 23, 24, 25, 26, 27, 28, 29])

In [5]:
arr+2

array([23, 24, 25, 26, 27, 28, 29, 30, 31])

In [6]:
1/arr

array([0.04761905, 0.04545455, 0.04347826, 0.04166667, 0.04      ,
       0.03846154, 0.03703704, 0.03571429, 0.03448276])

In [7]:
arr*arr

array([441, 484, 529, 576, 625, 676, 729, 784, 841])

In [9]:
arr_2d = arr.reshape(3,3)
arr_2d

array([[21, 22, 23],
       [24, 25, 26],
       [27, 28, 29]])

In [10]:
arr_2d**2

array([[441, 484, 529],
       [576, 625, 676],
       [729, 784, 841]], dtype=int32)

In [13]:
arr_1d = np.array([1,2,3])
arr_2d*arr_1d

array([[21, 44, 69],
       [24, 50, 78],
       [27, 56, 87]])

In [14]:
arr_2d/arr_2d

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [15]:
np.sqrt(arr)

array([4.58257569, 4.69041576, 4.79583152, 4.89897949, 5.        ,
       5.09901951, 5.19615242, 5.29150262, 5.38516481])

In [16]:
np.exp(arr)

array([1.31881573e+09, 3.58491285e+09, 9.74480345e+09, 2.64891221e+10,
       7.20048993e+10, 1.95729609e+11, 5.32048241e+11, 1.44625706e+12,
       3.93133430e+12])

In [17]:
np.sin(arr)

array([ 0.83665564, -0.00885131, -0.8462204 , -0.90557836, -0.13235175,
        0.76255845,  0.95637593,  0.27090579, -0.66363388])

In [18]:
np.log(arr_2d)

array([[3.04452244, 3.09104245, 3.13549422],
       [3.17805383, 3.21887582, 3.25809654],
       [3.29583687, 3.33220451, 3.36729583]])

In [21]:
np.insert(arr,5,123)

array([ 21,  22,  23,  24,  25, 123,  26,  27,  28,  29])

In [22]:
np.delete(arr,7)

array([21, 22, 23, 24, 25, 26, 27, 29])

In [23]:
np.append(arr,234)

array([ 21,  22,  23,  24,  25,  26,  27,  28,  29, 234])

In [24]:
a = np.array([[1,2],[3,4]])
b = np.array([[10,11]])
np.concatenate((a,b), axis = 0)

array([[ 1,  2],
       [ 3,  4],
       [10, 11]])

In [27]:
np.concatenate((a,b.T),axis=1)

array([[ 1,  2, 10],
       [ 3,  4, 11]])

In [30]:
np.concatenate((a,b), axis = None)

array([ 1,  2,  3,  4, 10, 11])

In [31]:
np.where(arr>25,1,arr)

array([21, 22, 23, 24, 25,  1,  1,  1,  1])

In [32]:
np.where(arr<25,0,1)

array([0, 0, 0, 0, 1, 1, 1, 1, 1])

In [33]:
np.where(arr_2d <= 25,0,arr_2d)

array([[ 0,  0,  0],
       [ 0,  0, 26],
       [27, 28, 29]])